body {
    background: black;
    font-family: 'Adamina', serif;
}

img {
    width: 1000px;
}

#start-page, #correct-page, #wrong-page, #last-page {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center
}

#question-container, #correct-page, #wrong-page, #last-page  {
    padding: 5rem;
}

h4 {
    margin-bottom: 50px;
    display: flex;
    justify-content: center
}

.next-btn {
    padding-top: 100px
}

.question-opts, .answer-page{
    color: white;
}

.question-footer {
    color: white;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 50px
}

label {
    margin-left: 10px
}

input {
    margin-left: 5rem
}

.question-opts, .wrong-border, .correct-border {
    border: solid rgba(255, 2, 2, 0.815) 1px;
    padding: 50px;
    border-radius: 25px
}

.wrong-border {
    margin-bottom: 50px;
}

h3 {
    color: white;
    margin-bottom: 50px
}

input[type='radio']:after {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    top: -5px;
    position: relative;
    background-color: black;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgba(255, 2, 2, 0.815);
}

input[type='radio']:checked:after {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    top: -5px;
    position: relative;
    background-color: rgba(255, 2, 2, 0.815);
    content: '';
    display: inline-block;
    visibility: visible;
}

.btn:hover {
    color: black !important;
    font-weight: bolder;
}

